
*{
    color: #333;

}

html{
    background-color: #fff;
}


body{ 
    background-image: url(./image/alap.jpg);
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #333;
}

hr{
    height: 8px;
    background-color: #555;
    border-radius: 8px;
}

#kulso{
    width: 80%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 100px;
}

h1,h3{
    text-align: center;

}

.belso{
    padding-left: 30px;
} 

.ketto{
    padding-left: 40px;
    font-style: italic;
}

.harom{
    padding-left: 80%;
    font-style: italic;
}